modules = ["web", "python-3.12"]
run = "python mqtt_publisher.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python mqtt_publisher.py"]

[[ports]]
localPort = 8080
externalPort = 80
